.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

button.selected {
  outline: 2px solid #000;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columnas, cada una con igual ancho */
  grid-template-rows: repeat(2, auto);
  /* Espacio entre los elementos de la cuadrícula */
  width: 44px;
  /* Ancho del contenedor */
  height: 44px;
  /* Alto del contenedor */
  background-color: transparent;
  /* Color de fondo del contenedor */
}

.group {
  width: 3.1rem;
}

button.selected {
  outline: 2px solid #000;
  background: transparent;
}

button.taken {
  cursor: not-allowed;
}

.text-sm {
  font-size: 0.75rem;
}
