@if(!currentFamilyCode && seat && seat.lastName){
<div class="grid-container mb-6 mx-auto">

    <div class="relative group inline-block">
        <div
            class="shadow-gray-800 shadow-md absolute -top-12 left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded py-1 px-2 z-10 w-36">
            {{seat.lastName}} {{seat.familyCode && seat.familyCode<10000? '(' +seat.familyCode+')' :''}} <div
                class="shadow-gray-800 shadow-md tooltip-arrow absolute w-3 h-3 bg-gray-800 transform rotate-45 left-1/2 -translate-x-1/2 -mt-0.5">
        </div>
    </div>

    <ng-container *ngFor="let i of [1,2,3,4]">
        <button class="w-4 h-4 bg-yellow-600 opacity-50 rounded-full m-1 cursor-default">
            <svg class="icono-x" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <line x1="20" y1="4" x2="4" y2="20" stroke="red" stroke-width="4" />
                <line x1="4" y1="4" x2="20" y2="20" stroke="red" stroke-width="4" />
            </svg>
        </button>
    </ng-container>
</div>
</div>
}

@if(!currentFamilyCode && seat && seat.seat && seat.seat>0 && !seat.lastName){
<div class="grid-container mb-6 mx-auto">
    <div class="relative group inline-block">
        <div
            class="shadow-gray-800 shadow-md absolute -top-12 left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded py-1 px-2 z-10 w-24">
            Disponible
            <div
                class="shadow-gray-800 shadow-md tooltip-arrow absolute w-3 h-3 bg-gray-800 transform rotate-45 left-1/2 -translate-x-1/2 -mt-0.5">
            </div>
        </div>
        <ng-container *ngFor="let i of [1,2,3,4]">

            <button class="w-4 h-4 bg-yellow-600 rounded-full m-1 cursor-default">

            </button>
        </ng-container>
    </div>
</div>
}

@if (currentFamilyCode && seat && seat.seat && seat.seat>0 && !seat.familyCode) {
<div class="grid-container mb-6 mx-auto">
    <div class="relative group inline-block">

        <div
            class="shadow-gray-800 shadow-md absolute -top-16 left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded py-1 px-2 z-10">
            {{'Palco ' + seat.seat}}
            <div
                class="shadow-gray-800 shadow-md tooltip-arrow absolute w-3 h-3 bg-gray-800 transform rotate-45 left-1/2 -translate-x-1/2 -mt-0.5">
            </div>
        </div>
        <ng-container *ngFor="let i of [1,2,3,4]">

            <button (click)="selectBox(seat, sectionName)" [disabled]="!!seat.familyCode"
                [class.taken]="!!seat.familyCode" [class.selected]="selected"
                [ngClass]="{'bg-yellow-600':seat.enabled || !preventa,  'bg-gray-700':!seat.enabled && preventa,'cursor-not-allowed':!seat.enabled && preventa}"
                class="w-4 h-4 rounded-full m-1">
                @if(selected && (seat.enabled || !preventa)){
                <svg class="icono-check" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <!-- Línea diagonal hacia arriba -->
                    <line x1="4" y1="12" x2="10" y2="18" stroke="green" stroke-width="4" />
                    <!-- Línea diagonal hacia abajo -->
                    <line x1="10" y1="18" x2="20" y2="6" stroke="green" stroke-width="4" />
                </svg>
                }
            </button>
        </ng-container>
    </div>
</div>
}

@if (currentFamilyCode && seat.familyCode && currentFamilyCode!==seat.familyCode) {
<div class="grid-container mb-6 mx-auto">
    <div class="relative group inline-block">

        <div
            class="shadow-gray-800 shadow-md absolute -top-12 left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded py-1 px-2 z-10">
            Ocupado
            <div
                class="shadow-gray-800 shadow-md tooltip-arrow absolute w-3 h-3 bg-gray-800 transform rotate-45 left-1/2 -translate-x-1/2 -mt-0.5">
            </div>
        </div>
        <ng-container *ngFor="let i of [1,2,3,4]">

            <button (click)="seatOfOtherUser()"
                class="w-4 h-4 opacity-50 rounded-full m-1 leading-4 taken bg-yellow-300">
                <svg class="icono-x" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <line x1="20" y1="4" x2="4" y2="20" stroke="red" stroke-width="4" />
                    <line x1="4" y1="4" x2="20" y2="20" stroke="red" stroke-width="4" />
                </svg>
            </button>
        </ng-container>
    </div>
</div>
}

@if (seat.familyCode && currentFamilyCode===seat.familyCode) {
<div class="grid-container mb-6 mx-auto">

    <div class="relative group inline-block">
        <div
            class="shadow-gray-800 shadow-md absolute -top-12 left-1/2 transform -translate-x-1/2 mt-2 hidden group-hover:block bg-gray-800 text-white text-sm rounded py-1 px-2 z-10 w-24">
            {{'Palco ' + seat.seat}}
            <div
                class="shadow-gray-800 shadow-md tooltip-arrow absolute w-3 h-3 bg-gray-800 transform rotate-45 left-1/2 -translate-x-1/2 -mt-0.5">
            </div>
        </div>
        <ng-container *ngFor="let i of [1,2,3,4]">

            <button (click)="seatAlreadyReservated()"
                class="w-4 h-4 opacity-50 rounded-full m-1 leading-4 taken bg-yellow-300">
                <svg class="icono-check" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <!-- Línea diagonal hacia arriba -->
                    <line x1="4" y1="12" x2="10" y2="18" stroke="green" stroke-width="4" />
                    <!-- Línea diagonal hacia abajo -->
                    <line x1="10" y1="18" x2="20" y2="6" stroke="green" stroke-width="4" />
                </svg>
            </button>
        </ng-container>
    </div>
</div>
}

@if (seat.seat===0) {
<div class="grid-container mb-6 mx-auto">

    <div class="relative group inline-block">
        <ng-container *ngFor="let i of [1,2,3,4]">

            <button class="w-4 h-4 opacity-50 rounded-full m-1 leading-4 taken bg-transparent">
                <svg class="icono-check" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <!-- Línea diagonal hacia arriba -->
                    <line x1="4" y1="12" x2="10" y2="18" stroke="transparent" stroke-width="4" />
                    <!-- Línea diagonal hacia abajo -->
                    <line x1="10" y1="18" x2="20" y2="6" stroke="transparent" stroke-width="4" />
                </svg>
            </button>
        </ng-container>
    </div>
</div>
}