<div class="flex flex-col place-content-center">
    <p class="mt-4 mb-4 text-lg leading-8 text-gray-600">Usted está en la cola de espera.</p>
    @if(amountOfPeople>0){
    <h2 class="text-2l font-bold tracking-tight text-gray-900 sm:text-2xl">

        Tiene {{amountOfPeople}} {{amountOfPeople > 1 ? 'familias':'familia'}} delante.
    </h2>
    }
    <p class="mt-4 text-lg leading-8 text-gray-600">
        No abandone la página. Una vez que acceda al mapa del teatro tendrá 2 minutos para reservar su
        asiento.
    </p>
    <img src="assets/images/waiting-line.gif" class="w-5/12 m-auto" alt="Esperando">
</div>