<!--<div *ngIf="lastName && (availableSeats$ | async) as availableSeats">-->
<div *ngIf="lastName">
  <ng-container>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      A continuación podrá reservar entradas para el "Concert 2025: Art Comes
      Alive" que se realizará el día martes 18 de noviembre.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button (click)="goToWaitingRoom()" [appTailwindClass]="'btn-primary'">
        Comenzar
      </button>
    </div>
  </ng-container>
</div>

<ng-template #noSeatsAvailable>
  <p class="mt-6 text-lg leading-8 text-gray-600">
    Las entradas para su familia ya fueron reservadas
  </p>
</ng-template>

<div *ngIf="!lastName">
  <div class="p-4 max-w-sm w-full mx-auto flex justify-center">
    <svg [appTailwindClass]="'btn-cumbres'" viewBox="0 0 24 24">
      <!-- ... -->
    </svg>
  </div>
</div>
