.parent {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 900px 1fr 2px 1fr;
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-x:auto;


}

.row {
    height: 20px;
}

.hidden {
    display: none;
}

/* Contenedor del desplegable */
.expandable-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height .3s ease, opacity .3s ease;
  }
  
  .expandable-content.show {
    max-height: 400px; /* Ajusta este valor según el contenido */
    opacity: 1;
  }
  button.disabled {
    cursor: not-allowed; /* Cambia el cursor para indicar que el botón no es interactivo */
    opacity: 0.5; /* Reduce la opacidad para indicar que el botón está deshabilitado */
  }
  
  