<div class="flex flex-col place-content-center">
    <ul class="bg-transparent mt-3">
        <br>
        @for(reservation of (details$ | async);track reservation) {
        @if(reservation.row){
        <li class="bg-transparent">{{reservation.sectionName.split('-')[1]}} - Fila: {{reservation.row}} -
            Asiento:
            {{reservation.seat}}</li>
        } @else {
        <li class="bg-transparent">{{reservation.sectionName.split('-')[1]}} - Palco: {{reservation.seat}}</li>
        }

        }
    </ul>
    <br>
    <!--h2 class="font-bold">{{returnMessage}}<br>{{thanksMessage}}</h2-->
    <img src="assets/images/thanks.gif" class="w-4/12 m-auto" alt="Gracias">
</div>