<div class="bg-[#fafafa] h-full">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav
      class="flex items-center justify-center p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex justify-center lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Las Cumbres</span>
          <img
            class="h-24 w-auto"
            src="https://www.lascumbres.edu.ar/images/logo.png"
            alt=""
          />
        </a>
      </div>
    </nav>
  </header>

  <div class="relative isolate px-6 pt-14 lg:px-8 h-full">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    ></div>
    <div class="max-w-6xl mx-auto pt-24">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Administración del Concert
        </h1>
        <div class="grid lg:grid-cols-1 lg:gap-4 items-center">
          <div></div>
          <div class="flex flex-wrap justify-center gap-4 my-4">
            <button [appTailwindClass]="'btn-small-red'" (click)="resetApp()">
              Reiniciar reservas
            </button>
            <button
              [appTailwindClass]="'btn-small-red'"
              (click)="downloadReport()"
            >
              Descargar reporte
            </button>
            <button
              [appTailwindClass]="'btn-small-red'"
              [routerLink]="'/admin/familias'"
            >
              Ver familias
            </button>
            <button
              [appTailwindClass]="'btn-small-red'"
              [routerLink]="'/admin/cola'"
            >
              Ver cola de espera
            </button>
            <button
              [appTailwindClass]="'btn-small-red'"
              [routerLink]="'/admin/mapa'"
            >
              Ver mapa
            </button>
            <button
              [appTailwindClass]="'btn-small-red'"
              [routerLink]="'/admin/log'"
            >
              Ver log de eventos
            </button>
            <div
              class="flex items-center justify-between ring-1 ring-inset ring-gray-300 rounded-lg my-2 lg:my-4 p-2 w-full max-w-xs"
            >
              <ng-container *ngIf="theatreIsOpen === false">
                <span class="mr-2">Boleteria cerrada:</span>
              </ng-container>
              <ng-container *ngIf="theatreIsOpen === true">
                <span class="mr-2">Boleteria abierta:</span>
              </ng-container>
              <ng-container *ngIf="theatreIsOpen !== null">
                <input
                  type="checkbox"
                  id="toggle"
                  [(ngModel)]="theatreIsOpen"
                  (click)="toggleChange()"
                  class="hidden"
                />
                <label
                  for="toggle"
                  [ngClass]="{
                    'bg-green-400': theatreIsOpen,
                    'bg-red-400': !theatreIsOpen,
                    'cursor-pointer w-12 h-6 bg-gray-300 rounded-full flex items-center p-1 transition-colors duration-300': true,
                  }"
                >
                  <span
                    class="bg-white w-4 h-4 rounded-full shadow-md transform transition-transform duration-300"
                    [ngClass]="{
                      'translate-x-6': theatreIsOpen === true,
                      'translate-x-0': theatreIsOpen === false,
                    }"
                  ></span>
                </label>
              </ng-container>
            </div>
          </div>
        </div>
        <router-outlet />
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    ></div>
  </div>
</div>
