.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

button.selected {
  outline: 2px solid #000;
  background: transparent;
}

button.taken {
  cursor: not-allowed;
}

.text-sm {
  font-size: 0.75rem;
}
