.parent {
    display: grid;
    grid-template-columns: 1fr 2px 1fr 900px 1fr 2px 1fr;
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /*overflow-x:auto;*/


}