<div class="flex flex-col place-content-center">

    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-4 flex items-center justify-center">
        <div class="flex flex-col items-center bg-transparent text-center">
            <svg class="w-14 h-14 bg-transparent" fill="currentColor" viewBox="0 0 22.4 22.4"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm-1 12h2v2h-2v-2zm0-10h2v8h-2V4z" />
            </svg>

            <span class="bg-transparent mt-2">
                <span class="bg-transparent">La resolucion de la pantalla es demasiado chica para visualizar el mapa del
                    teatro.<br><b class="bg-transparent">Le recomendamos acceder
                        desde una computadora.</b></span>
            </span>
        </div>
    </div>
</div>